@import url('https://fonts.googleapis.com/css2?family=Inter&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Segoe Ui', 'Open Sans', 'Helvetica Neue', sans-serif;
    scroll-behavior: smooth;
}


header{
    background-color: rgba(0,0,0,0.7);
    z-index: 1;
}

body{
    height: 100vh;
}

li{
    list-style: none;
}

a{
    text-decoration: none;
    color: white;
    font-size: 1rem;
}

a:hover{
    color: #6fbf42;
}

/* Header */

header{
    width: 100%;
    position:fixed;
    top: 0;
    padding: 0 2rem;
}

.navbar{
    width: 100%;
    height: 60px;
    max-width: 1200px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.navbar .logo a{
    font-size: 1.5rem;
    font-weight: bold;
}

.navbar .logo a:hover{
    color: #ffffff;
}
.navbar .links{
    display: flex;
    gap: 2rem;
    margin-left: -110px;
}

.navbar .toggle_btn{
    color: white;
    font-size: 1.5rem;
    cursor: pointer;
    display: none;
}

.navbar img{
    transform: translateY(5px);
}

.action_btn{
    background-color: #6fbf42;
    color: white;
    padding: 0.5rem 1rem;
    border: none;
    outline: none;
    border-radius: 2px;
    font-size: 0.8rem;
    font-weight: bold;
    cursor: pointer;
    transition: scale 0.2 ease;
    transition: 0.2s;
}

.action_btn:hover{
    transition: 0.2s;
    scale: 1.05;
    color: white;
}

.action_btn:active{
    scale: 0.95;
}

/* Menu drop */
.dropdown_menu{
    display: none;
    position: absolute;
    right: 2rem;
    height: 0;
    top: 60px;
    width: 300px; 
    background: rgba(0, 0, 0, 0.6);
    backdrop-filter: blur(15px);
    border-radius: 15px;
    transition: height 0.2s cubic-bezier(0.175, 0.885, 0.32, 1.275);
    overflow: hidden;
}

.dropdown_menu.open{
    height: 240px;
}

.dropdown_menu li{
    padding: 0.7rem;
    display: flex;
    align-items: center;
    justify-content: center;
}

.dropdown_menu .action_btn{
    width: 100%;
    display: flex;
    justify-content: center;

}

/* Texto */
section#texto{
    height: calc(100vh - 100px);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    color: rgb(255, 255, 255);
}

#texto h1{
    font-size: 3rem;
    margin-bottom: 1rem;
}


/* Desing responsivo */
@media(max-width: 992px){
    .navbar .links,
    .navbar .action_btn{
        display: none;
    }

    .navbar .toggle_btn{
        display: block;
    }

    .dropdown_menu{
        display: block;
    }
}

@media(max-width: 576px){
    .dropdown_menu{
        left: 2rem;
        width: unset;
    }
}

main{
    text-align: center;

}
.main-container {
    padding: 30px;
    background-color: #000000;
  }
  
#main-container2{
  padding: 30px;
}

#main-container2 li{
  margin-top: 10px;
}
  
/* CARDS */

.cards {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.cards a{
  color: rgb(0, 0, 0);
  font-weight: 700;
}

.card {
  margin: 20px;
  padding: 20px;
  width: 500px;
  min-height: 200px;
  display: grid;
  grid-template-rows: 20px 50px 1fr 50px;
  border-radius: 10px;
  box-shadow: 0px 6px 10px rgba(0, 0, 0, 0.25);
  transition: all 0.2s;
}

.card:hover {
  box-shadow: 0px 6px 10px rgba(0, 0, 0, 0.4);
  transform: scale(1.01);
}

.card__link,
.card__exit,
.card__icon {
  position: relative;
  text-decoration: none;
  color: rgba(255, 255, 255, 0.9);
}

.card__link::after {
  position: absolute;
  top: 25px;
  left: 0;
  content: "";
  width: 0%;
  height: 3px;
  background-color: rgba(255, 255, 255, 0.6);
  transition: all 0.5s;
}

.card__link:hover::after {
  width: 100%;
}

.card__exit {
  grid-row: 1/2;
  justify-self: end;
}

.card__icon {
  grid-row: 2/3;
  font-size: 30px;
}

.card__title {
  grid-row: 3/4;
  font-weight: 400;
  color: #ffffff;
}

.card__apply {
  grid-row: 4/5;
  align-self: center;
}

/* CARD BACKGROUNDS */

.card {
  background: radial-gradient(#76ad57, #579533);
}

.card-2 {
  background: radial-gradient(#76ad57, #579533);
}

.card-3 {
  background: radial-gradient(#76ad57, #579533);
}

.card-4 {
  background: radial-gradient(#76ad57, #579533);
}


/* RESPONSIVO */

@media (max-width: 1600px) {
  .cards {
    justify-content: center;
  }
}

/* Sobre nós banner */
.banner{
  display: flex;
  flex-direction: column;
  background-color: #000000;
  align-items: center;
  justify-content: center;
  color: #fff;
}
.descer{
  font-size: 4em;
  font-weight: 600;
}

.banner img{
  width: 100%;
  height: 100%;
  object-fit: cover;
}


/* Sobre nós conteudo */
.conteudo{   
  display: flex;
  padding: 40px 15px 0 65px;
}

.conteudo img{
  height: 650px;
  width: 700px;
}

.textonos{
  margin: 0 100px;
}

.textonos p{
  text-align: justify;
  padding-bottom: 10px;
}

.textonos h1{
  margin-top: 10px;
  margin-bottom: 50px;
  text-align: left;
}

@media(max-width: 1280px){
  .conteudo{
    flex-direction: column-reverse;
    padding: 0;
    margin: 20px;
  }
  .textonos{
    margin: 0;
  }
  .conteudo img{
    max-width: 650px;
    max-height: 650px;
    height: 100%;
    width: 100%;
  }
}

@media(max-width: 992px){
  .conteudo{
    flex-direction: column-reverse;
    padding: 0;
    margin: 20px;
  }
  .textonos{
    margin: 0;
  }
  .conteudo img{
    max-width: 650px;
    max-height: 650px;
    height: 100%;
    width: 100%;
  }
}

/* cards alunos */

#alunos{
  margin-top: 50px;
}

:root {
  --purple: hsl(240, 80%, 89%);
  --pink: hsl(0, 59%, 94%);
  --light-bg: hsl(204, 37%, 92%);
  --light-gray-bg: hsl(0, 0%, 94%);
  --white: hsl(0, 0%, 100%);
  --dark: hsl(0, 0%, 7%);
  --text-gray: hsl(0, 0%, 30%);
}

#alunos body {
  background: var(--light-bg);
  font-family: "Space Grotesk", sans-serif;
  color: var(--dark);
}

#alunos h3 {
  font-size: 1.5em;
  font-weight: 700;
}

#alunos p {
  font-size: 1em;
  line-height: 1.7;
  font-weight: 300;
  color: var(--text-gray);
}

.description {
  white-space: wrap;
}

#alunos a {
  text-decoration: none;
  color: inherit;
}

.wrap {
  display: flex;
  align-items: stretch;
  width: 100%;
  gap: 24px;
  padding: 24px;
  flex-wrap: wrap;
}

.box {
  display: flex;
  flex-direction: column;
  flex-basis: 100%;
  position: relative;
  padding: 24px;
  background: #fff;
}

.box-top {
  display: flex;
  flex-direction: column;
  position: relative;
  gap: 12px;
  margin-bottom: 36px;
}
.meio{
  display: flex;
  justify-content: center;
}

.box-image {
  width: 100%;
  height: 360px;
  object-fit: cover;
  object-position: 50% 20%;
  transition: transform 0.2s ease-in-out;
}

.box-image:hover{
  transform: scale(1.05);
}

.title-flex {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.box-title {
  border-left: 3px solid ;
  padding-left: 12px;
}

.user-follow-info {
  color: hsl(0, 0%, 60%);
}

.button {
  display: block;
  justify-content: center;
  align-items: center;
  text-align: center;
  margin-top: auto;
  padding: 16px;
  color: #000;
  background: transparent;
  box-shadow: 0px 0px 0px 1px black inset;
  transition: background 0.4s ease;
}

.button:hover {
  background: #6fbf42;
  color: black;
}

.fill-one {
  background: var(--light-bg);
}

.fill-two {
  background: var(--pink);
}

/* RESPONSIVE QUERIES */

@media (min-width: 280px) {
  .meio{
    display: block;
    justify-content: center;
  }
  .title-flex {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: start;
  }
  .user-follow-info {
    margin-top: 6px;
  }
}

@media (min-width: 320px) {

  .title-flex {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: start;
  }
  .user-follow-info {
    margin-top: 6px;
  }
}

@media (min-width: 460px) {
  .title-flex {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: start;
  }
  .user-follow-info {
    margin-top: 6px;
  }
}

@media (min-width: 640px) {
  .box {
    flex-basis: calc(50% - 12px);
  }
  .title-flex {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: start;
  }
  .user-follow-info {
    margin-top: 6px;
  }
}

@media (min-width: 768px) {
  .meio{
    display: flex;
    justify-content: center;
  }
  .title-flex {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: start;
  }
  .user-follow-info {
    margin-top: 6px;
  }
}

@media (min-width: 1024px) {
  .box {
    flex-basis: calc(33.3% - 16px);
  }
  .title-flex {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: start;
  }
  .user-follow-info {
    margin-top: 6px;
  }
}

@media (min-width: 1100px) {
  .box {
    flex-basis: calc(25% - 18px);
  }
}
  
/* Componentes */

.foto-componente{
  width: 100%;
  background-image: url(imagens/hardware.jpg);
}

.banner2 {
  position: relative;
  width: 100%;
  height: 0;
  padding-bottom: 40%;
}

.banner2 img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.content {
  color: white;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -80%);
}

.content2 {
  color: white;
  position: absolute;
  top: 20%;
  left: 50%;
  transform: translate(-50%, -80%);
}

.espaco-topo{
  margin-top: 60px;
}

/* Modal */
.modal,
.modal-box {
  z-index: 900;
}

.modal-sandbox {
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background: transparent;
}

.modal {
  display: none; 
  position: fixed;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  background: rgb(0,0,0);
  background: rgba(0,0,0,.8);
  overflow: auto;
}

.modal-box {
  position: relative;
  width: 80%;
  max-width: 920px;
  margin: 100px auto;
  animation-name: modalbox;
  animation-duration: .4s;
  animation-timing-function: cubic-bezier(0,0,.3,1.6);
}

.modal-header {
  padding: 20px 40px;
  background: #76ad57;
  color: #ffffff;
}

.modal-body {
  background: #ECEFF1;
  padding: 60px 40px;
}

/* Close Button */
.close-modal {
  text-align: right;
  cursor: pointer;
}

/* Animation */
@-webkit-keyframes modalbox {
  0% {
    top: -250px; 
    opacity: 0;
  }
  100% {
    top: 0; 
    opacity: 1;
  }
}

@keyframes modalbox {
  0% {
    top: -250px; 
    opacity: 0;
  }
  100% {
    top: 0; 
    opacity: 1;
  }
}

.modal-trigger, button {
  top: 50%;
  left: 50%;
  padding: 20px 40px;
  background: transparent;
  color: #ffffff;
  border: 1px solid #ffffff;
  text-decoration: none;
}

button {
  border: 1px solid #333333;
  outline: none;
  color: #333333;
}

.modal-body p{
  margin: 30px;
  border-bottom: 1px dashed #000;
}

.modal-body li{
  margin: 5px;
  display: inline;
  
}

/* Conteudo Componentes */

.conteudo-comp{   
  display: flex;
  padding: 40px 15px 0 65px;
  margin-top: 60px;
  align-items: center;
}

.conteudo-comp img{
  height: 650px;
  width: 650px;
}

.conteudo-comp .textonos{
  margin: 0 100px;
}

.conteudo-comp .textonos p{
  text-align: justify;
  padding-bottom: 10px;
}

.conteudo-comp .textonos h1{
  margin-top: 10px;
  margin-bottom: 50px;
  text-align: left;
}

.central{
  text-align: center;
}

.sair-nav{
  margin-top: 60px;
}

@media(max-width: 1280px){

  .conteudo-comp{
    flex-direction: column-reverse;
    padding: 0;
    margin: 20px;
  }
  .conteudo-comp .textonos{
    margin: 0;
  }
  .conteudo-comp .textonos p{
    text-align: justify;
  }

  .conteudo-comp h1{
    text-align: center!important;
  }

  .conteudo-comp img, #cooler{
    max-width: 650px;
    max-height: 650px;
    height: 100%;
    width: 100%;
  }
}

@media(max-width: 992px){

  .conteudo-comp{
    flex-direction: column-reverse;
    padding: 0;
    margin: 20px;
  }

  .conteudo-comp h1{
    text-align: center!important;
  }

  .conteudo-comp .textonos{
    margin: 0;
  }
  .conteudo-comp .textonos p{
    text-align: justify;
  }
  .conteudo-comp img{
    max-width: 650px;
    max-height: 650px;
    height: 100%;
    width: 100%;
  }
}

.textopc{   
  padding: 40px 65px 0 65px;
  margin: 0 100px;
}

.textopc p{
  text-align: justify;
  padding-bottom: 10px;
}

.textopc h1{
  margin-top: 10px;
  margin-bottom: 50px;
  text-align: left;
}

.textopc a{
  color: rgb(121, 121, 234);
  text-decoration: none;
}

.recomendation{
  margin-top: 20px;
  margin-bottom: 20px;
}

@media(max-width: 1280px){

  .textopc{   
    padding: 40px 65px 0 65px;
    margin: 0 100px;
  }
  
  .textopc p{
    text-align: justify;
    padding-bottom: 10px;
  }
  
  .textopc h1{
    margin-top: 10px;
    margin-bottom: 50px;
    text-align: left;
  }
}

@media(max-width: 992px){

  .textopc{
    margin: 0;
    padding: 10px;
  }
  .textopc p{
    text-align: justify;
  }

  .textopc h1{
    text-align: center!important;
  }
}

@media(max-width: 768px){

  .textopc{
    margin: 0;
    padding: 10px;
  }
  .textopc p{
    text-align: justify;
  }

  .textopc h1{
    text-align: center!important;
  }
}

@media(max-width: 576px){

  .textopc{
    margin: 0;
    padding: 10px;
  }
  .textopc p{
    text-align: justify;
  }

  .textopc h1{
    text-align: center!important;
  }
}

@media(max-width: 480px){

  .textopc{
    margin: 0;
    padding: 10px;
  }
  .textopc p{
    text-align: justify;
  }

  .textopc h1{
    text-align: center!important;
  }
}

@media(max-width: 320px){

  .textopc{
    margin: 0;
    padding: 10px;
  }
  .textopc p{
    text-align: justify;
  }

  .textopc h1{
    text-align: center!important;
  }
}

