@import url('https://fonts.googleapis.com/css2?family=Inter&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Open Sans', 'Helvetica Neue', sans-serif
}

#inicio{
    background-color: black;
    background-image: url('imagens/servidorimagem.jpg');
    background-size: cover;
    background-position: center;
}

body{
    height: 100vh;
}

li{
    list-style: none;
}

a{
    text-decoration: none;
    color: white;
    font-size: 1rem;
}

a:hover{
    color: #6fbf42;
}

/* Header */

header{
    position: relative;
    padding: 0 2rem;
}

.navbar{
    width: 100%;
    height: 60px;
    max-width: 1200px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.navbar .logo a{
    font-size: 1.5rem;
    font-weight: bold;
}

.navbar .logo a:hover{
    color: #ffffff;
}
.navbar .links{
    display: flex;
    gap: 2rem;
    margin-left: -110px;
}

.navbar .toggle_btn{
    color: white;
    font-size: 1.5rem;
    cursor: pointer;
    display: none;
}

.navbar img{
    transform: translateY(5px);
}

.action_btn{
    background-color: #6fbf42;
    color: white;
    padding: 0.5rem 1rem;
    border: none;
    outline: none;
    border-radius: 8px;
    font-size: 0.8rem;
    font-weight: bold;
    cursor: pointer;
    transition: scale 0.2 ease;
    transition: 0.2s;
}

.action_btn:hover{
    transition: 0.2s;
    scale: 1.05;
    color: white;
}

.action_btn:active{
    scale: 0.95;
}

/* Menu drop */
.dropdown_menu{
    display: none;
    position: absolute;
    right: 2rem;
    height: 0;
    top: 60px;
    width: 300px; 
    background: rgba(255, 255, 255, 0.1);
    backdrop-filter: blur(15px);
    border-radius: 15px;
    transition: height 0.2s cubic-bezier(0.175, 0.885, 0.32, 1.275);
    overflow: hidden;
}

.dropdown_menu.open{
    height: 240px;
}

.dropdown_menu li{
    padding: 0.7rem;
    display: flex;
    align-items: center;
    justify-content: center;
}

.dropdown_menu .action_btn{
    width: 100%;
    display: flex;
    justify-content: center;

}

/* Texto */
section#texto{
    height: calc(100vh - 100px);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    color: rgb(255, 255, 255);
}

#texto h1{
    font-size: 3rem;
    margin-bottom: 1rem;
}


/* Desing responsivo */
@media(max-width: 992px){
    .navbar .links,
    .navbar .action_btn{
        display: none;
    }

    .navbar .toggle_btn{
        display: block;
    }

    .dropdown_menu{
        display: block;
    }
}

@media(max-width: 576px){
    .dropdown_menu{
        left: 2rem;
        width: unset;
    }
}

/* Outras páginas */

.navbar2{
    background-color: rgba(0, 0 ,0, 0.7);
    width: 100%;
    height: 60px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#a100{
    padding: 0 0 0 0;
    width: 100vw;
}
/* Desing responsivo */
@media(max-width: 992px){
    .navbar2 .links,
    .navbar2 .action_btn{
        display: none;
    }

    .navbar2 .toggle_btn{
        display: block;
    }

    .dropdown_menu{
        display: block;
    }
}

@media(max-width: 576px){
    .dropdown_menu{
        left: 2rem;
        width: unset;
    }
}